In [69]:
import pandas as pd
df = pd.read_csv("C:\\Users\\bagchi\\Favorites\\Downloads\\datasets\\CardioGoodFitness.csv")

In [70]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [71]:
df=pd.get_dummies(df, columns=['MaritalStatus', 'Gender'])

In [72]:
df.head(5)

,Product,Age,Education,Usage,Fitness,Income,Miles,MaritalStatus_Partnered,MaritalStatus_Single,Gender_Female,Gender_Male
0,TM195,18,14,3,4,29562,112,0,1,0,1
1,TM195,19,15,2,3,31836,75,0,1,0,1
2,TM195,19,14,4,3,30699,66,1,0,1,0
3,TM195,19,12,3,3,32973,85,0,1,0,1
4,TM195,20,13,4,2,35247,47,1,0,0,1

In [73]:
df.rename(columns={'MaritalStatus_Partnered':'Partnered', 'MaritalStatus_Single':'Single', 'Gender_Female':'Female', 
          'Gender_Male':'Male'}, inplace=True)

In [74]:
df.head()

,Product,Age,Education,Usage,Fitness,Income,Miles,Partnered,Single,Female,Male
0,TM195,18,14,3,4,29562,112,0,1,0,1
1,TM195,19,15,2,3,31836,75,0,1,0,1
2,TM195,19,14,4,3,30699,66,1,0,1,0
3,TM195,19,12,3,3,32973,85,0,1,0,1
4,TM195,20,13,4,2,35247,47,1,0,0,1

In [75]:
df.isna().any()

Product      False
Age          False
Education    False
Usage        False
Fitness      False
Income       False
Miles        False
Partnered    False
Single       False
Female       False
Male         False
dtype: bool

In [76]:
df.isnull().sum()

Product      0
Age          0
Education    0
Usage        0
Fitness      0
Income       0
Miles        0
Partnered    0
Single       0
Female       0
Male         0
dtype: int64

In [77]:
X=df.drop(['Product'], axis=1)
X.head()

,Age,Education,Usage,Fitness,Income,Miles,Partnered,Single,Female,Male
0,18,14,3,4,29562,112,0,1,0,1
1,19,15,2,3,31836,75,0,1,0,1
2,19,14,4,3,30699,66,1,0,1,0
3,19,12,3,3,32973,85,0,1,0,1
4,20,13,4,2,35247,47,1,0,0,1

In [78]:
y=df.Product
y.head()

0    TM195
1    TM195
2    TM195
3    TM195
4    TM195
Name: Product, dtype: object

In [79]:
df.Product.unique()

array(['TM195', 'TM498', 'TM798'], dtype=object)

In [81]:
X=X[['Usage', 'Miles', 'Fitness', 'Age', 'Income']]

In [82]:
from sklearn import model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.20,random_state=5)

In [107]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svm_classifier = SVC()
svm_classifier.fit(X_train, y_train)
y_pred_svm = svm_classifier.predict(X_test)
svc_score = accuracy_score(y_test, y_pred_svm)
svc_score

0.6111111111111112

In [87]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_transformed = sc.fit_transform(X_train)
X_test_transformed = sc.fit_transform(X_test)

In [108]:
svm_classifier = SVC()
svm_classifier.fit(X_train_transformed, y_train)
y_pred_svm = svm_classifier.predict(X_test_transformed)
accuracy_score(y_test, y_pred_svm)

0.6111111111111112

In [109]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=30000)
logreg.fit(X_train, y_train)
y_pred_logreg = logreg.predict(X_test)
logreg_score = accuracy_score(y_test, y_pred_logreg)
logreg_score

0.5277777777777778

In [90]:
logreg.fit(X_train_transformed, y_train)
y_pred_logreg = logreg.predict(X_test_transformed)
accuracy_score(y_test, y_pred_logreg)

0.5555555555555556

In [110]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
knn_score = accuracy_score(y_test, y_pred_knn)
knn_score

0.6666666666666666

In [92]:
knn.fit(X_train_transformed, y_train)
y_pred_knn = knn.predict(X_test_transformed)
accuracy_score(y_test, y_pred_knn)

0.5277777777777778

In [111]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_test)
gnb_score = accuracy_score(y_test, y_pred_nb)
gnb_score

0.5277777777777778

In [94]:
nb.fit(X_train_transformed, y_train)
y_pred_nb = nb.predict(X_test_transformed)
accuracy_score(y_test, y_pred_nb)

0.5277777777777778

In [112]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
dt_score = accuracy_score(y_test, y_pred_dt)
dt_score

0.75

In [96]:
dt.fit(X_train_transformed, y_train)
y_pred_dt = dt.predict(X_test_transformed)
accuracy_score(y_test, y_pred_dt)

0.5

In [113]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
rf_score = accuracy_score(y_test, y_pred_rf)
rf_score

0.7222222222222222

In [98]:
rf.fit(X_train_transformed, y_train)
y_pred_rf = rf.predict(X_test_transformed)
accuracy_score(y_test, y_pred_rf)

0.5555555555555556

In [114]:
from sklearn.ensemble import AdaBoostClassifier
ab = AdaBoostClassifier()
ab.fit(X_train, y_train)
y_pred_ab = ab.predict(X_test)
ada_score = accuracy_score(y_test, y_pred_ab)
ada_score

0.6111111111111112

In [100]:
ab.fit(X_train_transformed, y_train)
y_pred_ab = ab.predict(X_test_transformed)
accuracy_score(y_test, y_pred_ab)

0.4722222222222222

In [115]:
from sklearn.ensemble import GradientBoostingClassifier
GBCModel = GradientBoostingClassifier(n_estimators=100,max_depth=3,random_state=33) 
GBCModel.fit(X_train, y_train)
y_pred_gbc = GBCModel.predict(X_test)
gbc_score = accuracy_score(y_test, y_pred_gbc)
gbc_score

0.8333333333333334

In [106]:
GBCModel.fit(X_train_transformed, y_train)
y_pred_gbc = GBCModel.predict(X_test_transformed)
accuracy_score(y_test, y_pred_gbc)

0.6944444444444444

In [125]:
models = pd.DataFrame({'Model': ['logistic regression',
                                    'KNN', 
                                    'Naive Bayes', 
                                    'SVM', 
                                    'Decision Tree',
                                    "Random forest",
                                    "Gradient boosting"],
                       
                             'scoretest':[logreg_score,
                                          knn_score,
                                          gnb_score,
                                          svc_score,
                                          dt_score,
                                          rf_score,
                                          gbc_score]})

models

                 Model  scoretest
0  logistic regression   0.527778
1                  KNN   0.666667
2          Naive Bayes   0.527778
3                  SVM   0.611111
4        Decision Tree   0.750000
5        Random forest   0.722222
6    Gradient boosting   0.833333

# gradient boosting gives the best results without scaling